body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial Narrow';
    color: white;
}

body {
    background-color: darkslategrey;
}


.color-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#colorPicker {
    margin-left: 10px;
}

#colorSquare {
    width: 200px;
    height: 200px;
    background-color: rgb(138, 206, 0);
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textInsideSquare {
    width: 201px;
    text-align: center;
    border: none;
    background: none;
    font-size: 4.5em;
    font-family: 'Arial Narrow';
    color: black;
}


